$white: #fff;
$black: #000;
$grey: #888;
$blue: #1e3b56;
$lightBlue: #5c7790;
$lightGrey: #eee;
$accent: #c7b99c;
$orange: #f08e5f;
$textOutline: -0.5px -0.5px 0 $white, 0.5px -0.5px 0 $white,
  -0.5px 0.5px 0 $white, 0.5px 0.5px 0 $white;

$padding: 16px;
$br: 7px;
$topNavSpace: calc(53px);
$bottomNavSpace: calc(80.5px);
$ctaPadding: 0.7em 1.4em;

$textShadow: 0px 0px 3px rgba(0, 0, 0, 0.15);
$boxShadow: 0px 6px 20px rgba(0, 0, 0, 0.15);

* {
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  color: $blue;
}

h1 {
  font-size: 2em;
  margin: 0;
  padding: 0;
  position: relative;
}

h1:before {
  content: "";
  position: absolute;
  height: 70px;
  margin-left: -$padding;
  width: 3px;
  background: $accent;
}

h2 {
  font-size: 1.5em;
}

p {
  font-size: 1em;
  line-height: 1.5em;
}

body {
  background-color: $blue;
}

#root {
  height: 100svh;
  width: 100svw;

  .App {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
  }
}

h3 {
  font-weight: normal;
}

.routeContainer {
  height: 100%;
  overflow: scroll;
  box-sizing: border-box;
}

.ctaBtn {
  padding: $ctaPadding;
  background: $blue;
  border-radius: $br;
  color: $white;
  transition: transform 0.2s;
  display: flex;
  text-decoration: none;
  box-shadow: $boxShadow;

  span {
    margin-right: $padding;
  }
}

input {
  height: 24px;
  border: 0;
  padding: 2px 4px;
  border-radius: calc($br / 2);
  color: $blue;
}

.ctaBtn:hover {
  transform: scale(1.05);
}

.toggleSwitch {
  display: flex;
  flex-direction: column;

  .switch {
    position: relative;
    display: inline-block;
    width: 48px;
    height: 24px;
  }

  input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $lightGrey;
    -webkit-transition: 0.2s;
    transition: 0.4s;
    border-radius: calc($br * 2);
  }

  .slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 4px;
    bottom: 4px;
    background-color: $blue;
    -webkit-transition: 0.2s;
    transition: 0.2s;
    border-radius: calc($br * 2);
  }

  .slider:hover:before {
    left: 8px;
  }

  input:checked + .slider:hover:before {
    left: 0px;
  }

  input:checked + .slider {
    background-color: $orange;
  }

  input:focus + .slider {
    box-shadow: 0 0 1px $lightBlue;
  }

  input:checked + .slider:before {
    -webkit-transform: translateX(24px);
    -ms-transform: translateX(24px);
    transform: translateX(24px);
  }
}

.moduleLink {
}

.canvasContainer {
  height: 100%;
  width: 100%;
  display: flex;

  .controlsHelperContainer {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10000;
    margin: $padding;

    .controlsHelperWrapper {
      background: $white;
      padding: $padding;
      border-radius: $br;
      box-shadow: $boxShadow;

      .header {
        display: flex;
        justify-content: space-between;

        .closeButton {
          background: none;
          border: 0;
          cursor: pointer;
          color: $blue;
        }
      }

      .controlsContainer {

        .item {

          .top {
            display: flex;
            align-items: center;

            span {
              font-size: 30px;

              svg {
                height: 30px;
                fill: $blue;
              }
            }

            span:not(:last-child) {
              margin-right: $padding;
            }
          }
        }

        .item:not(:last-child) {
          margin-bottom: $padding;
        }
      }
    }
  }

  .exampleInfoContainer {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: calc($padding * 2) 0 0 0;
    box-sizing: border-box;
    left: $padding * 3;
    z-index: 10000000;

    .exampleInfo {
      color: $blue;
      text-shadow: $textShadow;
    }

    .examplePickerContainer {
      ul {
        margin: 0;
        padding: 0;

        li {
          color: $white;
          transition: transform 0.2s;

          button {
            border: 0;
            padding: 0.7em 1.7em 0.7em 0.7em;
            background: none;
            color: $white;
            cursor: pointer;
          }
        }

        li:hover {
          transform: scale(1.05);
        }
      }

      li:not(:last-child) {
        margin-bottom: $padding;
      }
    }
  }

  .modelWrapper {
    height: 100%;
    width: 100%;
    box-sizing: border-box;

    .modelContainer {
      position: relative;
      height: 100%;
      overflow: hidden;
      box-sizing: border-box;
      z-index: 1000000;
      border-radius: $br;
      box-shadow: $boxShadow;

      #globalControls {
        position: absolute;
        z-index: 1000000;
        background: $white;
        border-radius: $br;
        margin: $padding;
        display: flex;
        justify-content: space-between;
        width: 200px;
        flex-direction: column;
        overflow: hidden;
        box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.15);

        .topLabel {
          display: flex;
          background: $black;
          color: $white;
          padding: 0 $padding;
          height: 42px;
          align-items: center;
        }

        .controls {
          display: flex;
          justify-content: space-between;
          padding: $padding;
        }

        .controlText {
          padding: 0 $padding $padding $padding;
          color: $grey;

          span {
            display: block;
          }

          span:first-child {
            margin-bottom: 10px;
          }
        }

        .globalYears {
          display: flex;
          flex-direction: column;
          padding: 0 $padding $padding $padding;
        }
      }

      .bottomControls {
        position: absolute;
        bottom: 0;
        display: flex;
        justify-content: space-between;
        width: 100%;
        background-color: $blue;
        z-index: 1001;
        padding: $padding;
        box-sizing: border-box;
        z-index: 1000000000;

        span {
          color: $white;
        }

        label {
          color: $white;
        }

        .controlContainer {
          display: flex;
          box-sizing: border-box;
          position: relative;

          .toggleSwitch:not(:last-child) {
            margin-right: $padding;
          }
        }

        .controlContainer:first-child {
          margin-right: $padding;
        }

        .controlContainer:nth-child(2) {
          flex-grow: 1;
        }

        .controlContainer:last-child {
          margin-left: $padding;
        }

        .zoomButtonsContainer {
          position: relative;
          z-index: 10;
          display: flex;
          border-radius: $br;
          overflow: hidden;

          .zoomButton {
            display: flex;
            align-items: center;
            border: 0;
            padding: 10px;

            span {
              color: $blue;
            }
          }

          .zoomButton:active {
            background: rgba(255, 255, 255, 0.9);
          }
        }

        .globalWireframe {
          position: relative;
          z-index: 10;
          display: flex;
        }

        #timeline {
          position: relative;
          z-index: 10;
          width: 100%;
          box-sizing: border-box;

          .wrapper {
            box-sizing: border-box;
            display: flex;
            justify-content: space-between;

            .yearInput {
              display: flex;
              flex-direction: column;

              input {
                width: 100px;
              }
            }

            .lineContainer {
              position: relative;
              width: 100%;
              display: flex;
              align-items: center;
              box-sizing: border-box;
              padding: 0 $padding;

              .line {
                background: $blue;
                width: 100%;
                height: 3px;

                .event {
                  position: absolute;
                  height: 12px;
                  width: 12px;
                  margin-top: -5px;
                  background: $orange;
                }
              }
            }
          }
        }
      }

      .mainCanvas {
        z-index: 0;
        cursor: pointer;

        .eventTag {
          background: $white;
          padding: 5px;
          border-radius: $br;
          box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
        }

        .timelineLabel {
          //text-shadow: $textShadow;
          text-shadow: $textOutline;
        }

        .normLabel {
          span {
            display: block;
            width: 200px;
            text-shadow: $textOutline;
          }
        }
      }
    }
  }

  .modelWrapper.fullwidth {
    padding: $topNavSpace 0 0 0;

    .modelContainer {
      border-radius: 0;
    }
  }

  .belowContainer {
    padding: $padding;

    p {
      margin-bottom: $padding;
    }
  }
}

.mainNav {
  position: fixed;
  z-index: 1000000000;
  width: 100vw;
  top: 0;

  .container {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    background: $blue;

    .holder {
      box-sizing: border-box;
      display: flex;

      a {
        color: $white;
        background: darken($lightBlue, 10%);
        border-radius: $br;
        text-decoration: none;
        transition: all 0.1s ease-in-out;
      }

      a,
      span {
        display: block;
        padding: calc($padding / 2);
        margin: calc($padding / 2);
      }

      span {
        border-radius: $br;
        color: $blue;
        background: $lightGrey;
      }

      a:hover {
        transform: translateY(-2px);
        background: lighten($lightBlue, 10%);
      }
    }
  }
}

.modelInfoContainer {
  position: absolute;
  right: 0;
  z-index: 1000;

  .containerWrapper {
    padding: $padding;

    #modelInfoList {
      list-style-type: none;
      margin: 0;
      padding: 0;
      width: 200px;

      li {
        box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.15);
        border-radius: $br;
        color: $white;

        .header {
          display: flex;
          align-items: center;
          justify-content: space-between;
          background: 0;
          border: 0;
          color: $white;
          width: 100%;
          padding: calc($padding / 2) $padding;
          margin: 0;
          cursor: pointer;
        }

        .moreInfo {
          background-color: $white;
          //margin: ($padding / 2) 0 0 0;
          height: auto;
          overflow: hidden;

          a {
            color: $white;
          }

          p {
            color: $black;
            padding: calc($padding / 2);
          }
        }

        .moreInfo.expanded {
          height: auto;
        }
      }
    }
  }
}

.homeContainer {
  background: $white;
  min-height: 100svh;
  .wrapper {
    padding-top: $topNavSpace;
    display: flex;
    justify-content: center;

    .textContainer {
      padding-top: calc($padding * 10);
      width: 50%;
    }
  }
}

.belowContainer {
  height: 100vh;
}

.abstractContainer {
  display: flex;
  flex-direction: row;
  background: $white;
  position: relative;
  box-sizing: border-box;
  height: 100vh;
  overflow: scroll;

  .buttonContainer {
    margin-top: $padding;

    .linkButton:not(:last-child) {
      margin: 0 calc($padding / 2) calc($padding / 2) 0;
    }
  }

  .linkButton {
    border: 0;
    padding: 0.7em 1.4em;
    background: $blue;
    color: $white;
    cursor: pointer;
    border-radius: $br;
    transition: all 0.1s ease-in-out;

    .material-symbols-outlined {
      position: relative;
      top: 25%;
      color: $white;
    }
  }

  .linkButton:hover {
    background: $lightBlue;
    transform: translateY(-2px);
  }

  .canvasContainer {
    width: 40vw;
    height: 100%;
  }

  .textWrapper {
    width: 100vw;
    height: 100vh;
    position: absolute;
    overflow-y: scroll;
    left: 0;

    .scrollTopButton {
      position: fixed;
      right: 0;
      bottom: 0;
      margin: calc($padding * 2);
      z-index: 10000;
    }

    .textContainer {
      position: absolute;
      right: 0;
      width: 60vw;
      padding: 0 calc($padding * 6);
      box-sizing: border-box;
      height: 100vh;

      .headerContainer {
        padding: calc($padding * 2) 0;
        height: 100svh;
        display: flex;
        flex-direction: column;
        justify-content: center;

        .readMoreContainer {
          margin-top: $padding;
          display: flex;
          flex-direction: column;
        }
      }

      .textBlock {
        height: 100svh;
        display: flex;
        flex-direction: column;
        justify-content: center;
      }

      .textBlock:not(:last-child) {
        h2 {
          margin-bottom: $padding;
        }
      }
    }
  }
}

.structureOptions {
  position: absolute;
  right: 0;
  z-index: 100000;
  margin: $padding;

  .structure {
    display: flex;
    flex-direction: column;
    background: $lightGrey;
    width: 200px;
    margin: $padding $padding 0 0;
    border-radius: $br;
    overflow: hidden;
    box-shadow: 0px 3px 6px -3px rgba(0, 0, 0, 0.15);

    .header {
      display: flex;
      border: 0;
      padding: 0.7em $padding;
      //background: none;
      width: 100%;
      margin: 0;
      justify-content: space-between;
      cursor: pointer;
      color: $black;

      h2 {
        margin: 0;
        padding: 0;
        font-size: 1em;
        font-weight: 400;
        color: $black;
      }

      span {
        color: $black;
      }
    }

    .openOptions {
      display: flex;
      flex-direction: column;
      padding: calc($padding / 2) $padding $padding $padding;
      box-sizing: border-box;

      .yearOptions {
        display: flex;
        flex-direction: row;

        div {
          width: 50%;
          display: flex;
          flex-direction: column;
          box-sizing: border-box;

          input {
            width: 75px;
          }
        }

        div:first-child {
          margin-right: 5px;
        }
      }

      .slider {
        input {
          width: 100%;
        }
      }
    }
  }
}

.footerContainer {
  margin-bottom: calc($padding * 6);
  background: $blue;

  .wrapper {
    padding: calc($padding * 2);
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;

    .item {
      flex-grow: 1;

      ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
      }

      h3 {
        margin: 0;
        padding: 0;
        font-size: 1.5em;
        font-weight: 600;
        color: $white;
      }

      h4 {
        color: $white;
      }

      span {
        color: $white;
      }

      a {
        color: $white;
      }
    }
  }
}

#modelPageContainer {
  padding: $topNavSpace 0 0 0;
}

.exampleText {
  background-color: $blue;
  display: flex;

  .container {
    display: flex;
    flex-direction: column;
    margin-top: calc($topNavSpace);
    box-sizing: border-box;
    flex-grow: 1;
    max-width: 100svw;

    .examplePicker {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding: $padding;

      .item:not(:last-child) {
        margin-left: $padding;
      }

      button {
        border: 0;
        background: 0;
        display: flex;
        align-items: center;
        cursor: pointer;
        transition: transform 0.1s ease-in-out;

        span {
          color: $white;
        }

        .dot {
          width: 7px;
          height: 7px;
          border-radius: 50%;
          border: 2px solid $white;
          margin-right: $padding;
          display: block;
        }
      }

      button:hover {
        transform: scale(1.05);
      }
    }

    .exampleContainer {
      display: grid;
      grid-template-columns: 1fr 1fr;
      box-sizing: border-box;
      height: 70svh;
      padding: 0 $padding;

      h1 {
        color: $white;
      }

      p {
        color: $white;
      }

      .left {
        box-sizing: border-box;
        padding: $padding;
        max-width: 50svw;
      }

      .right {
        width: 50svw;

        .modelWrapper {
          padding: $padding;
        }
      }
    }

    .exampleModelsContainer {
      height: 50svh;
      box-sizing: border-box;
      width: 100%;
      padding: $padding;

      .exampleModelsWrapper {
        background: $white;
        border-radius: $br;
        height: 100%;
      }

      .modelsHeader {
        display: flex;
        flex-direction: row;
        margin: $padding;
        overflow-x: scroll;

        .item {
          position: relative;

          button {
            border: 0;
            padding: $padding;
            display: flex;
            align-items: center;
            background: 0;

            img {
              width: 40px;
              height: 40px;
            }

            img:not(:last-child) {
              margin-right: $padding;
            }

            span {
              white-space: nowrap;
            }
          }

          .active:after {
            content: "";
            position: absolute;
            background: $blue;
            height: 3px;
            bottom: 0;
            left: 0;
            width: 100%;
          }

          button:hover:after {
            content: "";
            position: absolute;
            background: $blue;
            height: 3px;
            bottom: 0;
            left: 0;
            width: 100%;
          }
        }

        .item:not(:last-child) {
          margin-right: $padding;
        }
      }

      .modelsInfo {
        display: flex;
        flex-direction: row;
        padding: 0 $padding;
        justify-content: space-between;

        .left {
          width: 70%;
          padding-right: $padding; 
        }

        .right {
          width: 30%;
          span {
            display: block;
          }
        }
      }
    }
  }
}
