* {
  margin: 0;
  font-family: "PT Serif", serif;
  font-size: 16px;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
}

body {
  background-color: #2967e8;
}

#root {
  height: 100svh;
  width: 100svw;
}
#root .App {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}

h3 {
  font-weight: normal;
}

.routeContainer {
  height: 100%;
  overflow: scroll;
}

.ctaBtn {
  padding: 0.7em 1.4em;
  background: #fff;
  border-radius: 7px;
  color: #000;
  transition: transform 0.2s;
}

.ctaBtn:hover {
  transform: scale(1.05);
}

.canvasContainer {
  height: 100%;
  width: 100%;
  display: flex;
}
.canvasContainer .exampleInfoContainer {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 68px 0 95px 0;
  box-sizing: border-box;
  height: 100%;
  left: 48px;
  z-index: 10000000;
}
.canvasContainer .exampleInfoContainer .exampleInfo {
  color: #fff;
}
.canvasContainer .exampleInfoContainer .examplePickerContainer ul {
  margin: 0;
  padding: 0;
}
.canvasContainer .exampleInfoContainer .examplePickerContainer ul li {
  color: #fff;
  transition: transform 0.2s;
}
.canvasContainer .exampleInfoContainer .examplePickerContainer ul li button {
  border: 0;
  padding: 0.7em 1.7em 0.7em 0.7em;
  background: none;
  color: #fff;
  cursor: pointer;
}
.canvasContainer .exampleInfoContainer .examplePickerContainer ul li:hover {
  transform: scale(1.05);
}
.canvasContainer .exampleInfoContainer .examplePickerContainer li:not(:last-child) {
  margin-bottom: 16px;
}
.canvasContainer .modelWrapper {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  padding: 64px 16px 16px 16px;
}
.canvasContainer .modelWrapper .modelContainer {
  position: relative;
  height: 100%;
  overflow: hidden;
  box-sizing: border-box;
  z-index: 1000000;
  border-radius: 7px;
  box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.15);
}
.canvasContainer .modelWrapper .modelContainer #globalControls {
  position: absolute;
  z-index: 1000000;
  background: #fff;
  border-radius: 7px;
  margin: 16px;
  display: flex;
  justify-content: space-between;
  width: 200px;
  flex-direction: column;
  overflow: hidden;
  box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.15);
}
.canvasContainer .modelWrapper .modelContainer #globalControls .topLabel {
  display: flex;
  background: #000;
  color: #fff;
  padding: 0 16px;
  height: 42px;
  align-items: center;
}
.canvasContainer .modelWrapper .modelContainer #globalControls .controls {
  display: flex;
  justify-content: space-between;
  padding: 16px;
}
.canvasContainer .modelWrapper .modelContainer #globalControls .controlText {
  padding: 0 16px 16px 16px;
  color: #888;
}
.canvasContainer .modelWrapper .modelContainer #globalControls .controlText span {
  display: block;
}
.canvasContainer .modelWrapper .modelContainer #globalControls .controlText span:first-child {
  margin-bottom: 10px;
}
.canvasContainer .modelWrapper .modelContainer #globalControls .globalYears {
  display: flex;
  flex-direction: column;
  padding: 0 16px 16px 16px;
}
.canvasContainer .modelWrapper .modelContainer .bottomControls {
  position: absolute;
  bottom: 0;
  display: flex;
  align-items: flex-end;
  width: 100%;
  background-color: #eee;
  z-index: 1001;
  padding: 16px;
  box-sizing: border-box;
}
.canvasContainer .modelWrapper .modelContainer .bottomControls .zoomButtonsContainer {
  position: relative;
  z-index: 10;
  display: flex;
  border-radius: 7px;
  overflow: hidden;
}
.canvasContainer .modelWrapper .modelContainer .bottomControls .zoomButtonsContainer .zoomButton {
  border: 0;
  padding: 10px;
}
.canvasContainer .modelWrapper .modelContainer .bottomControls .zoomButtonsContainer .zoomButton:active {
  background: rgba(255, 255, 255, 0.9);
}
.canvasContainer .modelWrapper .modelContainer .bottomControls .globalWireframe {
  position: relative;
  z-index: 10;
  display: flex;
}
.canvasContainer .modelWrapper .modelContainer .bottomControls #timeline {
  position: relative;
  z-index: 10;
  width: 100%;
  box-sizing: border-box;
}
.canvasContainer .modelWrapper .modelContainer .bottomControls #timeline .wrapper {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
}
.canvasContainer .modelWrapper .modelContainer .bottomControls #timeline .wrapper .yearInput {
  display: flex;
  flex-direction: column;
}
.canvasContainer .modelWrapper .modelContainer .bottomControls #timeline .wrapper .yearInput input {
  width: 100px;
}
.canvasContainer .modelWrapper .modelContainer .mainCanvas {
  z-index: 0;
}
.canvasContainer .modelWrapper .modelContainer .mainCanvas .eventTag {
  background: #fff;
  padding: 5px;
  border-radius: 7px;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
}
.canvasContainer .modelWrapper .modelContainer .fOJUnM {
  position: absolute !important;
}
.canvasContainer .modelWrapper.fullwidth {
  padding: 48px 0 0 0;
}
.canvasContainer .modelWrapper.fullwidth .modelContainer {
  border-radius: 0;
}
.canvasContainer .belowContainer {
  padding: 16px;
}
.canvasContainer .belowContainer p {
  margin-bottom: 16px;
}

.mainNav {
  position: fixed;
  z-index: 1000000000;
  width: 100vw;
  top: 0;
}
.mainNav .container {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  background: #fff;
}
.mainNav .container .holder {
  box-sizing: border-box;
  display: flex;
}
.mainNav .container .holder a, .mainNav .container .holder span {
  display: block;
  padding: 8px;
  margin: 8px;
}
.mainNav .container .holder span {
  background-color: #000;
  border-radius: 7px;
  color: #fff;
}

.modelInfoContainer {
  position: absolute;
  right: 0;
  z-index: 1000;
}
.modelInfoContainer .containerWrapper {
  padding: 16px;
}
.modelInfoContainer .containerWrapper #modelInfoList {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 200px;
}
.modelInfoContainer .containerWrapper #modelInfoList li {
  box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.15);
  border-radius: 7px;
  color: #fff;
}
.modelInfoContainer .containerWrapper #modelInfoList li .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: 0;
  border: 0;
  color: #fff;
  width: 100%;
  padding: 8px 16px;
  margin: 0;
  cursor: pointer;
}
.modelInfoContainer .containerWrapper #modelInfoList li .moreInfo {
  background-color: #fff;
  height: auto;
  overflow: hidden;
}
.modelInfoContainer .containerWrapper #modelInfoList li .moreInfo a {
  color: #fff;
}
.modelInfoContainer .containerWrapper #modelInfoList li .moreInfo p {
  color: #000;
  padding: 8px;
}
.modelInfoContainer .containerWrapper #modelInfoList li .moreInfo.expanded {
  height: auto;
}

.homeContainer {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  display: grid;
  place-items: center;
}

.belowContainer {
  height: 100vh;
}

.structureOptions {
  position: absolute;
  top: 0;
  z-index: 1000000000;
}

.texture {
  height: 100vh;
  z-index: 10000;
  position: relative;
  background-blend-mode: multiply;
  background-image: url("https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fjooinn.com%2Fimages%2Fpaper-texture-overlay-1.jpg&f=1&nofb=1&ipt=1155457eae590cc1e10bec3bccf30f2b9df160bb4c44d409d619dc1680cf37c3&ipo=images");
}

.abstractContainer {
  display: flex;
  height: 100vh;
  width: 100vw;
  overflow: scroll;
  position: fixed;
  background: 0;
}
.abstractContainer .canvasContainer {
  width: 50vw;
  position: fixed;
  background: rgba(222, 222, 222, 0.9);
}
.abstractContainer .textContainer {
  width: 50vw;
  position: absolute;
  right: 0;
}
.abstractContainer .textContainer .headerContainer {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: rgba(255, 255, 255, 0.9);
  padding: 0 64px;
}
.abstractContainer .textContainer .textBlock {
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: rgba(255, 255, 255, 0.9);
  padding: 0 64px;
}/*# sourceMappingURL=App.css.map */