$white: #fff;
$black: #000;
$grey: #888;
$blue: #2967e8;
$lightGrey: #eee;
$accent: #C7B99C;

$padding: 16px;
$br: 7px;
$topNavSpace: 68px;
$bottomNavSpace: 95px;
$ctaPadding: .7em 1.4em;

* {
  margin: 0;
  font-family: "PT Serif", serif;
  font-size: 16px;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
}

body {
  background-color: $blue;
}

#root {
  height: 100svh;
  width: 100svw;

  .App {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
  }
}

h3 {
  font-weight: normal;
}

.routeContainer {
  height: 100%;
  overflow: scroll;
}

.ctaBtn {
  padding: $ctaPadding;
  background: $white;
  border-radius: $br;
  color: $black;
  transition: transform .2s;
}

.ctaBtn:hover {
  transform: scale(1.05);
}

.canvasContainer {
  height: 100%;
  width: 100%;
  display: flex;

  .exampleInfoContainer {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: $topNavSpace 0 $bottomNavSpace 0;
    box-sizing: border-box;
    height: 100%;
    left: $padding * 3;
    z-index: 10000000;

    .exampleInfo {
      color: $white;
    }

    .examplePickerContainer {
      ul {
        margin: 0;
        padding: 0;

        li {
          color: $white;
          transition: transform .2s;

          button {
            border: 0;
            padding: .7em 1.7em .7em .7em;
            background: none;
            color: $white;
            cursor: pointer;
          }
        }

        li:hover {
          transform: scale(1.05);
        }
      }

      li:not(:last-child) {
        margin-bottom: $padding;
      }
    }
  }

  .modelWrapper {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    padding: 64px $padding $padding $padding;
  
    .modelContainer {
      position: relative;
      height: 100%;
      overflow: hidden;
      box-sizing: border-box;
      z-index: 1000000;
      border-radius: $br;
      box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.15);
  
      #globalControls {
        position: absolute;
        z-index: 1000000;
        background: $white;
        border-radius: $br;
        margin: $padding;
        display: flex;
        justify-content: space-between;
        width: 200px;
        flex-direction: column;
        overflow: hidden;
        box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.15);
  
        .topLabel {
          display: flex;
          background: $black;
          color: $white;
          padding: 0 $padding;
          height: 42px;
          align-items: center;
        }
  
        .controls {
          display: flex;
          justify-content: space-between;
          padding: $padding;
        }
  
        .controlText {
          padding: 0 $padding $padding $padding;
          color: $grey;
  
          span {
            display: block;
          }
  
          span:first-child {
            margin-bottom: 10px;
          }
        }
  
        .globalYears {
          display: flex;
          flex-direction: column;
          padding: 0 $padding $padding $padding;
        }
      }
  
      .bottomControls {
        position: absolute;
        bottom: 0;
        display: flex;
        align-items: flex-end;
        width: 100%;
        background-color: $lightGrey;
        z-index: 1001;
        padding: $padding;
        box-sizing: border-box;
      
        .zoomButtonsContainer {
          position: relative;
          z-index: 10;
          display: flex;
          border-radius: $br;
          overflow: hidden;
        
          .zoomButton {
            border: 0;
            padding: 10px;
          }
        
          .zoomButton:active {
            background: rgba(255, 255, 255, 0.9);
          }
        }
  
        .globalWireframe {
          position: relative;
          z-index: 10;
          display: flex;
        }
      
        #timeline {
          position: relative;
          z-index: 10;
          width: 100%;
          box-sizing: border-box;
        
          .wrapper {
            box-sizing: border-box;
            display: flex;
            justify-content: space-between;
  
            .yearInput {
              display: flex;
              flex-direction: column;
  
              input {
                width: 100px;
              }
            }
          }
        }
      }
  
      .mainCanvas {
        z-index: 0;
  
        .eventTag {
          background: $white;
          padding: 5px;
          border-radius: $br;
          box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
        }
      }
  
      .fOJUnM {
        position: absolute !important;
      }
    }
  }
  
  .modelWrapper.fullwidth {
    padding: 48px 0 0 0;
  
    .modelContainer {
      border-radius: 0;
    }
  }
  
  .belowContainer {
    padding: $padding;
  
    p {
      margin-bottom: $padding;
    }
  }
}


.mainNav {
  position: fixed;
  z-index: 1000000000;
  width: 100vw;
  top: 0;

  .container {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    background: $white;

    .holder {
      box-sizing: border-box;
      display: flex;

      a, span {
        display: block;
        padding: calc($padding / 2);
        margin: calc($padding / 2);
      }

      span {
        background-color: $black;
        border-radius: $br;
        color: $white;
      }
    }
  }
}

.modelInfoContainer {
  position: absolute;
  right: 0;
  z-index: 1000;

  .containerWrapper {
    padding: $padding;

    #modelInfoList {
      list-style-type: none;
      margin: 0;
      padding: 0;
      width: 200px;

      li {
        box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.15);
        border-radius: $br;
        color: $white;

        .header {
          display: flex;
          align-items: center;
          justify-content: space-between;
          background: 0;
          border: 0;
          color: $white;
          width: 100%;
          padding: calc($padding / 2) $padding;
          margin: 0;
          cursor: pointer;
        }

        .moreInfo {
          background-color: $white;
          //margin: ($padding / 2) 0 0 0;
          height: auto;
          overflow: hidden;

          a {
            color: $white;
          }

          p {
            color: $black;
            padding: calc($padding / 2);
          }

          button {

          }
        }

        .moreInfo.expanded {
          height: auto;
        }
      }
    }
  }
}

.homeContainer {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  display: grid;
  place-items: center;
}

.belowContainer {
  height: 100vh;
}

.structureOptions {
  position: absolute; 
  top: 0;
  z-index: 1000000000;
}

// .abstractContainer::before {
//   content: '';
//   position: absolute;
//   height: 100vh;
//   width: 100vw;
//   z-index: 10000000;
//   background-blend-mode: multiply;
//   opacity: .075;
//   background-image: url("https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fjooinn.com%2Fimages%2Fpaper-texture-overlay-1.jpg&f=1&nofb=1&ipt=1155457eae590cc1e10bec3bccf30f2b9df160bb4c44d409d619dc1680cf37c3&ipo=images");
// }

.texture {
  height: 100vh;
  z-index: 10000;
  position: relative;
  background-blend-mode: multiply;
  background-image: url("https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fjooinn.com%2Fimages%2Fpaper-texture-overlay-1.jpg&f=1&nofb=1&ipt=1155457eae590cc1e10bec3bccf30f2b9df160bb4c44d409d619dc1680cf37c3&ipo=images");
}

.abstractContainer {
  display: flex;
  height: 100vh;
  width: 100vw;
  overflow: scroll;
  position: fixed;
  background: 0;

  .canvasContainer {
    width: 50vw;
    position: fixed;
    background: rgba(222, 222, 222, 0.9);
  }

  .textContainer {
    width: 50vw;
    position: absolute;
    right: 0;

    .headerContainer {
      height: 100vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      background: rgba(255,255,255,.9);
      padding: 0 calc($padding * 4);
    }
  
    .textBlock {
      height: 70vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      background: rgba(255,255,255,.9);
      padding: 0 calc($padding * 4);
    }
  }
}