* {
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  color: #1e3b56;
}

h1 {
  font-size: 2em;
  margin: 0;
  padding: 0;
  position: relative;
}

h1:before {
  content: "";
  position: absolute;
  height: 70px;
  margin-left: -16px;
  width: 3px;
  background: #c7b99c;
}

h2 {
  font-size: 1.5em;
}

p {
  font-size: 1em;
  line-height: 1.5em;
}

body {
  background-color: #fff;
  overflow-x: hidden;
}

#root {
  height: 100svh;
  width: 100svw;
}
#root .App {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}

h3 {
  font-weight: normal;
}

.routeContainer {
  height: 100%;
  box-sizing: border-box;
}

.ctaBtn {
  padding: 0.7em 1.4em;
  background: #1e3b56;
  border-radius: 7px;
  color: #fff;
  transition: transform 0.2s;
  display: flex;
  text-decoration: none;
  box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.15);
}
.ctaBtn span {
  margin-right: 16px;
}

.linkButton {
  border: 0;
  background: #1e3b56;
  color: #fff;
  cursor: pointer;
  border-radius: 7px;
  transition: all 0.1s ease-in-out;
  position: relative;
  display: block;
  float: left;
  display: flex;
  align-items: center;
  padding: 0.7em 1.4em;
  text-decoration: none;
}
.linkButton .material-symbols-outlined {
  position: relative;
  top: 25%;
  color: #fff;
}

.linkButton:hover {
  background: #5c7790;
  transform: translateY(-2px);
}

input {
  height: 24px;
  border: 0;
  padding: 2px 4px;
  border-radius: 3.5px;
  color: #1e3b56;
}

.ctaBtn:hover {
  transform: scale(1.05);
}

.toggleSwitch {
  display: flex;
  flex-direction: column;
}
.toggleSwitch .switch {
  position: relative;
  display: inline-block;
  width: 48px;
  height: 24px;
}
.toggleSwitch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.toggleSwitch .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #eee;
  transition: 0.4s;
  border-radius: 14px;
}
.toggleSwitch .slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: #1e3b56;
  transition: 0.2s;
  border-radius: 14px;
}
.toggleSwitch .slider:hover:before {
  left: 8px;
}
.toggleSwitch input:checked + .slider:hover:before {
  left: 0px;
}
.toggleSwitch input:checked + .slider {
  background-color: #ff822e;
}
.toggleSwitch input:focus + .slider {
  box-shadow: 0 0 1px #5c7790;
}
.toggleSwitch input:checked + .slider:before {
  transform: translateX(24px);
}

.canvasContainer {
  height: 100%;
  width: 100%;
  display: flex;
}
.canvasContainer .controlsHelperContainer {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10000;
  margin: 16px;
}
.canvasContainer .controlsHelperContainer .controlsHelperWrapper {
  background: #fff;
  padding: 16px;
  border-radius: 7px;
  box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.15);
}
.canvasContainer .controlsHelperContainer .controlsHelperWrapper .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.canvasContainer .controlsHelperContainer .controlsHelperWrapper .header .closeButton {
  background: none;
  border: 0;
  cursor: pointer;
  color: #1e3b56;
  padding: 0;
  margin: 0;
}
.canvasContainer .controlsHelperContainer .controlsHelperWrapper .controlsContainer .item .top {
  display: flex;
  align-items: center;
}
.canvasContainer .controlsHelperContainer .controlsHelperWrapper .controlsContainer .item .top span {
  font-size: 30px;
}
.canvasContainer .controlsHelperContainer .controlsHelperWrapper .controlsContainer .item .top span svg {
  height: 30px;
  fill: #1e3b56;
}
.canvasContainer .controlsHelperContainer .controlsHelperWrapper .controlsContainer .item .top span:not(:last-child) {
  margin-right: 16px;
}
.canvasContainer .controlsHelperContainer .controlsHelperWrapper .controlsContainer .item:not(:last-child) {
  margin-bottom: 16px;
}
.canvasContainer .exampleInfoContainer {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 32px 0 0 0;
  box-sizing: border-box;
  left: 48px;
  z-index: 10000000;
}
.canvasContainer .exampleInfoContainer .exampleInfo {
  color: #1e3b56;
  text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.15);
}
.canvasContainer .exampleInfoContainer .examplePickerContainer ul {
  margin: 0;
  padding: 0;
}
.canvasContainer .exampleInfoContainer .examplePickerContainer ul li {
  color: #fff;
  transition: transform 0.2s;
}
.canvasContainer .exampleInfoContainer .examplePickerContainer ul li button {
  border: 0;
  padding: 0.7em 1.7em 0.7em 0.7em;
  background: none;
  color: #fff;
  cursor: pointer;
}
.canvasContainer .exampleInfoContainer .examplePickerContainer ul li:hover {
  transform: scale(1.05);
}
.canvasContainer .exampleInfoContainer .examplePickerContainer li:not(:last-child) {
  margin-bottom: 16px;
}
.canvasContainer .modelWrapper {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}
.canvasContainer .modelWrapper .modelContainer {
  position: relative;
  height: 100%;
  overflow: hidden;
  box-sizing: border-box;
  z-index: 1000000;
  border-radius: 7px;
  box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.15);
}
.canvasContainer .modelWrapper .modelContainer #globalControls {
  position: absolute;
  z-index: 1000000;
  background: #fff;
  border-radius: 7px;
  margin: 16px;
  display: flex;
  justify-content: space-between;
  width: 200px;
  flex-direction: column;
  overflow: hidden;
  box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.15);
}
.canvasContainer .modelWrapper .modelContainer #globalControls .topLabel {
  display: flex;
  background: #000;
  color: #fff;
  padding: 0 16px;
  height: 42px;
  align-items: center;
}
.canvasContainer .modelWrapper .modelContainer #globalControls .controls {
  display: flex;
  justify-content: space-between;
  padding: 16px;
}
.canvasContainer .modelWrapper .modelContainer #globalControls .controlText {
  padding: 0 16px 16px 16px;
  color: #888;
}
.canvasContainer .modelWrapper .modelContainer #globalControls .controlText span {
  display: block;
}
.canvasContainer .modelWrapper .modelContainer #globalControls .controlText span:first-child {
  margin-bottom: 10px;
}
.canvasContainer .modelWrapper .modelContainer #globalControls .globalYears {
  display: flex;
  flex-direction: column;
  padding: 0 16px 16px 16px;
}
.canvasContainer .modelWrapper .modelContainer .bottomControls {
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: rgba(30, 59, 86, 0.8);
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  z-index: 1001;
  padding: 16px;
  box-sizing: border-box;
  z-index: 1000000000;
}
.canvasContainer .modelWrapper .modelContainer .bottomControls span {
  color: #fff;
}
.canvasContainer .modelWrapper .modelContainer .bottomControls label {
  color: #fff;
}
.canvasContainer .modelWrapper .modelContainer .bottomControls .controlContainer {
  display: flex;
  box-sizing: border-box;
  position: relative;
  width: 225px;
}
.canvasContainer .modelWrapper .modelContainer .bottomControls .controlContainer .toggleSwitch:not(:last-child) {
  margin-right: 16px;
}
.canvasContainer .modelWrapper .modelContainer .bottomControls .controlContainer:first-child {
  margin-right: 16px;
}
.canvasContainer .modelWrapper .modelContainer .bottomControls .controlContainer:last-child {
  margin-left: 16px;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}
.canvasContainer .modelWrapper .modelContainer .bottomControls .resetButton button {
  background: #eee;
  border: 0;
  color: #1e3b56;
  cursor: pointer;
  margin-right: 16px;
  padding: 0.7em 1.2em;
  border-radius: 7px;
}
.canvasContainer .modelWrapper .modelContainer .bottomControls .resetButton button:hover {
  background: #fff;
}
.canvasContainer .modelWrapper .modelContainer .bottomControls .zoomButtonsContainer {
  position: relative;
  z-index: 10;
  display: flex;
}
.canvasContainer .modelWrapper .modelContainer .bottomControls .zoomButtonsContainer .zoomButton {
  display: flex;
  align-items: center;
  border: 0;
  padding: 10px;
  cursor: pointer;
}
.canvasContainer .modelWrapper .modelContainer .bottomControls .zoomButtonsContainer .zoomButton span {
  color: #1e3b56;
}
.canvasContainer .modelWrapper .modelContainer .bottomControls .zoomButtonsContainer .zoomButton:first-child {
  border-radius: 7px 0 0 7px;
}
.canvasContainer .modelWrapper .modelContainer .bottomControls .zoomButtonsContainer .zoomButton:last-child {
  border-radius: 0 7px 7px 0;
}
.canvasContainer .modelWrapper .modelContainer .bottomControls .zoomButtonsContainer .zoomButton:hover {
  background-color: #fff;
}
.canvasContainer .modelWrapper .modelContainer .bottomControls .zoomButtonsContainer .zoomButton:active {
  background-color: rgba(255, 255, 255, 0.9);
}
.canvasContainer .modelWrapper .modelContainer .bottomControls .globalWireframe {
  position: relative;
  z-index: 10;
  display: flex;
}
.canvasContainer .modelWrapper .modelContainer .bottomControls #timeline {
  position: relative;
  z-index: 10;
  box-sizing: border-box;
}
.canvasContainer .modelWrapper .modelContainer .bottomControls #timeline .wrapper {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}
.canvasContainer .modelWrapper .modelContainer .bottomControls #timeline .wrapper span {
  margin: 0 16px;
}
.canvasContainer .modelWrapper .modelContainer .bottomControls #timeline .wrapper .yearInput {
  display: flex;
  flex-direction: column;
}
.canvasContainer .modelWrapper .modelContainer .bottomControls #timeline .wrapper .yearInput input {
  width: 100px;
}
.canvasContainer .modelWrapper .modelContainer .bottomControls #timeline .wrapper .icon {
  height: 20px;
}
.canvasContainer .modelWrapper .modelContainer .bottomControls #timeline .wrapper .icon svg {
  height: 100%;
  fill: #fff;
}
.canvasContainer .modelWrapper .modelContainer .bottomControls #timeline .wrapper .icon svg line {
  stroke: #fff;
}
.canvasContainer .modelWrapper .modelContainer .mainCanvas {
  z-index: 0;
  cursor: pointer;
}
.canvasContainer .modelWrapper .modelContainer .mainCanvas .eventTag {
  background: #fff;
  padding: 5px;
  border-radius: 7px;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.canvasContainer .modelWrapper .modelContainer .mainCanvas .axisLabel {
  text-shadow: -0.4px -0.4px 0 #fff, 0.4px -0.4px 0 #fff, -0.4px 0.4px 0 #fff, 0.4px 0.4px 0 #fff;
  font-size: 0.7em;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  font-weight: bold;
}
.canvasContainer .modelWrapper .modelContainer .mainCanvas .timelineLabel {
  text-shadow: -0.4px -0.4px 0 #fff, 0.4px -0.4px 0 #fff, -0.4px 0.4px 0 #fff, 0.4px 0.4px 0 #fff;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  font-size: 0.7em;
}
.canvasContainer .modelWrapper .modelContainer .mainCanvas .normLabel span {
  display: block;
  width: 200px;
  text-shadow: -0.4px -0.4px 0 #fff, 0.4px -0.4px 0 #fff, -0.4px 0.4px 0 #fff, 0.4px 0.4px 0 #fff;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  font-size: 0.7em;
}
.canvasContainer .modelWrapper.fullwidth {
  padding: 56px 0 0 0;
}
.canvasContainer .modelWrapper.fullwidth .modelContainer {
  border-radius: 0;
}
.canvasContainer .belowContainer {
  padding: 16px;
}
.canvasContainer .belowContainer p {
  margin-bottom: 16px;
}

.mainNav {
  position: fixed;
  z-index: 1000000000;
  width: 100vw;
  top: 0;
}
.mainNav .container {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background: #1e3b56;
  box-shadow: 0px 0px 3px #1e3b56;
}
.mainNav .container .holder {
  box-sizing: border-box;
  display: flex;
  align-items: center;
}
.mainNav .container .holder a {
  color: #fff;
  background: #485d71;
  border-radius: 7px;
  text-decoration: none;
  transition: all 0.1s ease-in-out;
}
.mainNav .container .holder a,
.mainNav .container .holder span {
  display: block;
  padding: 8px;
  margin: 8px;
}
.mainNav .container .holder span {
  border-radius: 7px;
  color: #1e3b56;
  background: #eee;
}
.mainNav .container .holder .title {
  color: #fff;
  background: 0;
}
.mainNav .container .holder a:hover {
  transform: translateY(-2px);
  background: #7790a8;
}
.mainNav .container .holder:nth-child(2) {
  justify-content: center;
}
.mainNav .container .holder:nth-child(3) {
  justify-content: flex-end;
}
.mainNav .container .logo a {
  padding: 0;
  background: 0;
  margin: 0;
  display: flex;
}
.mainNav .container .logo a:hover {
  background: 0;
}
.mainNav .container .logo .mainLogo {
  background-image: url("/public/images/logo.svg");
  background-size: cover;
  padding: 0;
  height: 40px;
  aspect-ratio: 992/242;
}
@media screen and (max-width: 900px) {
  .mainNav .container .logo .mainLogo {
    background-image: url("/public/images/logoicon.png");
    aspect-ratio: 1/1;
  }
}
.mainNav .container .logo img {
  height: 48px;
  margin-left: 4px;
}
.mainNav .container .logo span {
  background: 0;
  color: #fff;
}

.modelInfoContainer {
  position: absolute;
  right: 0;
  z-index: 1000;
}
.modelInfoContainer .containerWrapper {
  padding: 16px;
}
.modelInfoContainer .containerWrapper #modelInfoList {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 200px;
}
.modelInfoContainer .containerWrapper #modelInfoList li {
  box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.15);
  border-radius: 7px;
  color: #fff;
}
.modelInfoContainer .containerWrapper #modelInfoList li .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: 0;
  border: 0;
  color: #fff;
  width: 100%;
  padding: 8px 16px;
  margin: 0;
  cursor: pointer;
}
.modelInfoContainer .containerWrapper #modelInfoList li .moreInfo {
  background-color: #fff;
  height: auto;
  overflow: hidden;
}
.modelInfoContainer .containerWrapper #modelInfoList li .moreInfo a {
  color: #fff;
}
.modelInfoContainer .containerWrapper #modelInfoList li .moreInfo p {
  color: #000;
  padding: 8px;
}
.modelInfoContainer .containerWrapper #modelInfoList li .moreInfo.expanded {
  height: auto;
}

.homeContainer {
  background: #fff;
  min-height: 100svh;
}
.homeContainer .wrapper {
  padding-top: 56px;
  padding-bottom: 80.5px;
  display: flex;
  justify-content: center;
}
.homeContainer .wrapper .textContainer {
  padding-top: 160px;
  width: 50%;
}
.homeContainer .wrapper .textContainer .buttonContainer {
  margin-top: 16px;
}
.homeContainer .wrapper .textContainer .buttonContainer .linkButton:not(:last-child) {
  margin-right: 16px;
}

.belowContainer {
  height: 100vh;
}

.scrollTopButton {
  position: fixed;
  right: 0;
  bottom: 0;
  margin: 32px;
  z-index: 10000;
}

.abstractContainer {
  display: flex;
  flex-direction: row;
  background: #fff;
  position: relative;
  box-sizing: border-box;
}
.abstractContainer .buttonContainer {
  margin-top: 16px;
}
.abstractContainer .buttonContainer .linkButton:not(:last-child) {
  margin: 0 8px 8px 0;
}
.abstractContainer .canvasContainer {
  width: 40vw;
  height: 100vh;
  position: sticky;
  top: 0;
}
.abstractContainer .textWrapper {
  width: 60vw;
  position: relative;
  left: 0;
}
.abstractContainer .textWrapper .textContainer {
  position: relative;
  width: 60vw;
  padding: 0 96px;
  box-sizing: border-box;
}
.abstractContainer .textWrapper .textContainer .headerContainer {
  padding: 32px 0;
  height: 100svh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.abstractContainer .textWrapper .textContainer .headerContainer .readMoreContainer {
  margin-top: 64px;
  display: flex;
  flex-direction: column;
}
.abstractContainer .textWrapper .textContainer .textBlock {
  min-height: 70svh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.abstractContainer .textWrapper .textContainer .textBlock:not(:last-child) h2 {
  margin-bottom: 16px;
}

@media screen and (max-width: 900px) {
  .abstractContainer {
    flex-direction: column;
  }
  .abstractContainer .canvasContainer {
    box-sizing: border-box;
    width: 100vw;
    height: 40vh;
    z-index: 10000;
    padding: 16px;
  }
  .abstractContainer .canvasContainer div:first-child {
    box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.15);
    border-radius: 7px;
    background: #fff;
  }
  .abstractContainer .textWrapper {
    width: 100vw;
  }
  .abstractContainer .textWrapper .textContainer {
    padding: 0 16px;
    width: 100%;
    top: -20vh;
  }
}
.structureOptions {
  position: absolute;
  right: 0;
  z-index: 100000;
  margin: 16px;
}
.structureOptions .structure {
  display: flex;
  flex-direction: column;
  background: #eee;
  width: 200px;
  margin: 16px 16px 0 0;
  border-radius: 7px;
  overflow: hidden;
  box-shadow: 0px 3px 6px -3px rgba(0, 0, 0, 0.15);
}
.structureOptions .structure .header {
  display: flex;
  border: 0;
  padding: 0.7em 16px;
  width: 100%;
  margin: 0;
  justify-content: space-between;
  cursor: pointer;
  color: #000;
}
.structureOptions .structure .header h2 {
  margin: 0;
  padding: 0;
  font-size: 1em;
  font-weight: 400;
  color: #000;
}
.structureOptions .structure .header span {
  color: #000;
}
.structureOptions .structure .header .dark {
  color: #fff;
}
.structureOptions .structure .openOptions {
  display: flex;
  flex-direction: column;
  padding: 8px 16px 16px 16px;
  box-sizing: border-box;
}
.structureOptions .structure .openOptions .yearOptions {
  display: flex;
  flex-direction: row;
}
.structureOptions .structure .openOptions .yearOptions div {
  width: 50%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.structureOptions .structure .openOptions .yearOptions div input {
  width: 75px;
}
.structureOptions .structure .openOptions .yearOptions div:first-child {
  margin-right: 5px;
}
.structureOptions .structure .openOptions .slider input {
  width: 100%;
}

@media screen and (max-width: 400px) {
  .structureOptions {
    display: none;
  }
  .controlContainer:first-child {
    flex-wrap: wrap;
  }
  .controlContainer:not(:first-child):not(:last-child) {
    width: 0 !important;
  }
  .controlContainer:last-child {
    align-items: baseline !important;
    margin-left: 0 !important;
  }
  .controlContainer:last-child .zoomButtonsContainer {
    flex-direction: column;
  }
  .controlContainer:last-child .zoomButtonsContainer .zoomButton:first-child {
    border-radius: 7px 7px 0 0 !important;
  }
  .controlContainer:last-child .zoomButtonsContainer .zoomButton:last-child {
    border-radius: 0 0 7px 7px !important;
  }
  .controlContainer:last-child .resetButton {
    margin-bottom: 16px;
  }
  .exampleContainer .canvasWrapper {
    margin-left: -32px;
    max-width: 100vw !important;
    width: 100vw !important;
  }
  .abstractContainer .canvasContainer {
    padding: 0 !important;
  }
  .abstractContainer .readMoreContainer {
    display: none !important;
  }
}
.aboutBox {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #1e3b56;
}

.aboutContainer {
  position: relative;
  bottom: 0;
  margin-top: 56px;
  padding: 16px 0 0 0;
  z-index: 10000000;
  max-width: 1000px;
  display: flex;
  flex-direction: column;
}
.aboutContainer .wrapper {
  box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.15);
  border-radius: 7px;
  background-color: #fff;
  padding: 48px;
  margin-bottom: 48px;
}
.aboutContainer .wrapper .logoIcon {
  width: 100px;
  height: 100px;
  margin-bottom: 32px;
}
.aboutContainer .wrapper .header {
  display: flex;
  flex-direction: column;
}
.aboutContainer .wrapper .buttonContainer {
  margin-top: 32px;
}
.aboutContainer .wrapper .personContainer {
  display: flex;
  margin-top: 32px;
}
.aboutContainer .wrapper .personContainer .personWrapper {
  padding: 16px;
  background: #eee;
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.aboutContainer .wrapper .personContainer .personWrapper .image {
  width: 100px;
  height: 100px;
  margin-bottom: 8px;
  overflow: hidden;
  border-radius: 7px;
}
.aboutContainer .wrapper .personContainer .personWrapper .image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.aboutContainer .wrapper .personContainer .personWrapper .name {
  font-weight: bold;
}
.aboutContainer .wrapper .personContainer .personWrapper .title {
  font-style: italic;
}
.aboutContainer .wrapper .personContainer .personWrapper:not(:last-child) {
  margin-right: 32px;
}

.footerContainer {
  margin-bottom: 96px;
  background: #112130;
}
.footerContainer .wrapper {
  padding: 32px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  box-sizing: border-box;
}
.footerContainer .wrapper .item {
  flex-grow: 1;
}
.footerContainer .wrapper .item ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.footerContainer .wrapper .item h3 {
  margin: 0;
  padding: 0;
  font-size: 1.5em;
  font-weight: 600;
  color: #fff;
}
.footerContainer .wrapper .item h4 {
  color: #fff;
}
.footerContainer .wrapper .item span {
  color: #fff;
}
.footerContainer .wrapper .item a {
  color: #fff;
}

#modelPageContainer {
  padding: 56px 0 0 0;
}

.exampleText {
  background-color: #fff;
  display: flex;
}
.exampleText .container {
  display: flex;
  flex-direction: column;
  margin-top: 56px;
  box-sizing: border-box;
  flex-grow: 1;
  max-width: 100svw;
}
.exampleText .container .examplePicker {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 16px;
  background-color: #eee;
}
.exampleText .container .examplePicker .breadcrumbTitle {
  color: #1e3b56;
  margin-right: 0.5em;
}
.exampleText .container .examplePicker .item:not(:last-child) {
  margin-left: 16px;
}
.exampleText .container .examplePicker button {
  border: 0;
  background: 0;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
  padding: 0.35em 0.7em;
  border-radius: 7px;
}
.exampleText .container .examplePicker button span {
  color: #1e3b56;
}
.exampleText .container .examplePicker button .dot {
  width: 7px;
  height: 7px;
  border-radius: 50%;
  border: 2px solid #1e3b56;
  margin-right: 16px;
  display: block;
}
.exampleText .container .examplePicker button:hover {
  background: #5c7790;
}
.exampleText .container .examplePicker button:hover span {
  color: #fff;
}
.exampleText .container .examplePicker button:hover .dot {
  border: 2px solid #fff;
}
.exampleText .container .exampleContainer {
  padding: 32px 64px 64px 64px;
}
.exampleText .container .exampleContainer h1, .exampleText .container .exampleContainer p {
  color: #1e3b56;
}
.exampleText .container .exampleContainer .canvasWrapper {
  display: block;
  float: right;
  max-width: 50vw;
  width: 100%;
  height: 70vh;
  padding: 0 0 64px 64px;
}
.exampleText .container .exampleContainer .canvasWrapper .canvasContainer {
  width: 100%;
}
@media screen and (max-width: 900px) {
  .exampleText .container .exampleContainer {
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 32px;
  }
  .exampleText .container .exampleContainer .canvasWrapper {
    max-width: 100%;
    padding: 32px 0;
  }
  .exampleText .container .exampleContainer .left {
    margin-right: 0;
    margin-bottom: 16px;
    overflow-y: visible;
  }
  .exampleText .container .exampleContainer .right {
    margin-left: 0;
    height: 70vh;
  }
}
.exampleText .container .exampleModelsContainer {
  box-sizing: border-box;
  width: 100%;
  padding: 16px;
}
.exampleText .container .exampleModelsContainer .exampleModelsWrapper {
  background: #1e3b56;
  border-radius: 7px;
  position: relative;
  padding: 16px 0 0 0;
}
.exampleText .container .exampleModelsContainer .modelsHeader {
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  padding-left: 16px;
  margin-bottom: 16px;
}
.exampleText .container .exampleModelsContainer .modelsHeader .item {
  position: relative;
}
.exampleText .container .exampleModelsContainer .modelsHeader .item button {
  border: 0;
  padding: 16px;
  display: flex;
  align-items: center;
  background: 0;
  cursor: pointer;
}
.exampleText .container .exampleModelsContainer .modelsHeader .item button img {
  width: 40px;
  height: 40px;
}
.exampleText .container .exampleModelsContainer .modelsHeader .item button img:not(:last-child) {
  margin-right: 16px;
}
.exampleText .container .exampleModelsContainer .modelsHeader .item button span {
  white-space: nowrap;
  color: #fff;
}
.exampleText .container .exampleModelsContainer .modelsHeader .item button:after {
  content: "";
  position: absolute;
  background: #1e3b56;
  height: 3px;
  bottom: 0;
  left: 0;
  width: 100%;
  opacity: 0%;
  transition: all 0.1s ease-in-out;
}
.exampleText .container .exampleModelsContainer .modelsHeader .item .active:after {
  content: "";
  position: absolute;
  background: #fff;
  height: 3px;
  bottom: 0;
  left: 0;
  width: 100%;
  opacity: 100%;
  transition: all 0.1s ease-in-out;
}
.exampleText .container .exampleModelsContainer .modelsHeader .item button:hover:after {
  content: "";
  position: absolute;
  background: #fff;
  height: 3px;
  bottom: 0;
  left: 0;
  width: 100%;
  opacity: 100%;
}
.exampleText .container .exampleModelsContainer .modelsHeader .item:not(:last-child) {
  margin-right: 16px;
}
.exampleText .container .exampleModelsContainer .modelsInfo {
  display: grid;
  grid-template-columns: 2fr 1fr;
  padding: 0 32px 32px 32px;
  position: relative;
}
.exampleText .container .exampleModelsContainer .modelsInfo .left {
  padding-right: 64px;
  overflow-y: auto;
  color: #fff;
}
.exampleText .container .exampleModelsContainer .modelsInfo .right span {
  display: block;
  color: #fff;
}
@media screen and (max-width: 724px) {
  .exampleText .container .exampleModelsContainer .modelsInfo {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 0 16px 16px 16px;
  }
  .exampleText .container .exampleModelsContainer .modelsInfo .left {
    margin-bottom: 16px;
    padding-right: 0;
  }
}
.exampleText .container .publishInfo {
  font-style: italic;
  padding: 16px 0;
}
.exampleText .container .publishInfo span {
  color: #1e3b56;
}
.exampleText .container .modelsFooter {
  padding: 0 16px 16px 16px;
}
.exampleText .container .modelsFooter .linkButton {
  color: #fff;
  background-color: #1e3b56;
}
.exampleText .container .modelsFooter .linkButton span {
  color: #fff;
}
.exampleText .container .modelsFooter .linkButton:not(:last-child) {
  margin-right: 16px;
}/*# sourceMappingURL=App.css.map */